/* ==========================================================================
   PEOPLE PAGE
   ========================================================================== */

.author__bio-wrapper {
	clear: both;
}

.people-page .author__bio-wrapper .author__avatar {
	width: 170px;
	display: inline-block;
	margin-top: 5px;
}

.author__avatar img {
	max-width: 150px;
}

.people-page .author__bio-wrapper .author__content {
	width: -webkit-calc(100% - 170px);
    width:    -moz-calc(100% - 170px);
    width:         calc(100% - 170px);
    display: inline-block;
    float: right;
    line-height: inherit;
}

.people-page .author__urls-wrapper {
	clear: both;
	margin-top: 10px;
}

.people-page .author__urls-wrapper .author__urls li {
	display: inline;
	padding-right: 15px;
}

.people-page .author__urls-wrapper .author__urls a {
	display: inline;
}